body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

#link {
    text-align: center;
}

a {
    font-size: larger;
    width: 10vw;
}

a:visited {
    color: lightgoldenrodyellow;
}

#main-area {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#clock {
    grid-row: 0;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px
}

.clock {
    font-size: large;
    margin: 4px 8px;
    padding: 4px 8px;
    background-color: #444;
    color: lightgoldenrodyellow;
    border-radius: 8px;
    width: min-content;
    font-weight: bold;
}

#canvas {
    grid-row: 0;
    grid-column: 2;
}

#canvas-div {
    display: flex;
    justify-content: center;
}